  * {
      box-sizing: border-box;
  }
  .description .button a {
    text-decoration: none;
    padding: 0px 10px;
    width: 100%;
    color: whitesmoke;
  }
  .description .button a:hover {
    text-decoration: none;
    padding: 0px 10px;
    width: 100%;
    color: whitesmoke;
    background-color: gray;
  }
  .description .button {
    border: 2px solid gray;
    width: fit-content;
    text-align: center;
    text-transform: capitalize;
    font-family: "IM Fell English SC", serif;
    padding: 0px;
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
  .description {
      display: flex;
      align-items: flex-start;
      flex-flow: row wrap;
  }
  li {
      position: relative;
  }