/* Desktop Styles */
@media only screen and (min-width: 961px) {
body {
  font-family: "Muli", sans-serif;
  color: whitesmoke;
  background-color: #363636;
  margin: 30px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.monster-card {
  border: 161616 solid 3px;
  background-color: #161616;
  min-height: 400px;
  width: 300px;
  margin: 40px;
  display: flex;
  flex-flow: column wrap;
}
.monster-card h3 {
  font-family: "Rosarivo", serif;
  font-size: 1.5em;
  color: whitesmoke;
  text-align: center;
}
.monster-card p {
}
.card-pic {
  width: 300px;
}
.description {
  padding: 15px;
  color: darkgray;
}
.date {
  justify-content: flex-end;
  padding: 15px;
  text-align: right;
  font-size: small;
}
}
/* Mobile Styles */
@media only screen and (max-width: 400px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body {
    font-family: "Muli", sans-serif;
    color: whitesmoke;
    background-color: #363636;
    margin: 30px auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
  }
  .monster-card {
    border: 161616 solid 3px;
    background-color: #161616;
    min-height: 400px;
    width: 300px;
    margin: 40px;
    display: flex;
    flex-flow: column wrap;
  }
  .monster-card h3 {
    font-family: "Rosarivo", serif;
    font-size: 1.5em;
    color: whitesmoke;
    text-align: center;
  }
  .monster-card p {
  }
  .card-pic {
    width: 300px;
  }
  .description {
    padding: 15px;
    color: darkgray;
  }
  .date {
    justify-content: flex-end;
    padding: 15px;
    text-align: right;
    font-size: small;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}
