@font-face {
  font-family: "Ravenna";
  src: url(../fonts/Ravenna) format(ttf);
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  p {
    font-family: "Muli", sans-serif;
    color: lightgrey;
    padding-left: 320px;
    font-size: 0.9em;
  }
  ul {
    padding: 0px;
    display: flex;
    flex-flow: column nowrap;
  }
  .list li {
    list-style: none;
    border: 5px solid black;
    padding-left: 260px;
    padding-top: 40px;
    text-align: left;
    font-size: x-large;
    font-family: "Rosarivo", serif;
    width: 600px;
    height: 150px;
    margin-bottom: 15px;
    text-transform: none;
    box-sizing: border-box;
    background-color: black;
  }
  .portal {
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
  }
  .portal div {
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    padding: 5px 10px;
    margin: 15px;
    height: 140px;
    text-align: center;
  }
  .portal h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #363636;
  }
  .journal {
    width: 140px;
  }
  .next {
    width: 250px;
  }
  .suggestion {
    width: 140px;
  }
  .decoration {
    background-size: contain;
    background-repeat: no-repeat;
  }
  .list {
    box-sizing: border-box;
    width: fit-content;
    margin: 20px auto;
  }
  .dmg {
    background-image: url(https://cdn.mos.cms.futurecdn.net/aD2NwcjVo9jpHszfwUs3XT.jpg);
  }
  .phb {
    background-image: url(https://www.nintenderos.com/wp-content/uploads/2017/01/the-legend-of-zelda-breath-of-the-wild.ddf_.jpg);
  }
  .mm {
    background-image: url(https://sm.ign.com/t/ign_ap/review/t/the-legend/the-legend-of-zelda-breath-of-the-wild-the-master-trials-dlc_564g.1200.jpg);
  }
  .cg {
    background-image: url(https://cdn3.whatculture.com/images/2018/04/595dfbd2167b9552-600x338.jpg);
  }
  .description {
    font-size: 0.6em;
    font-family: "Muli", sans-serif;
    padding-right: 10px;
    color: gray;
  }
  #see-more {
    text-align: right;
    text-transform: capitalize;
    font-size: x-small;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 250px;
    height: 2em;
  }
  .about-pic div{
    width: fit-content;
  }
  .about-pic img {
    height: 400px;
  }
  .intro {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
  }
  .intro section {
    border: gray 1px solid;
  }
  .intro p {
    padding-left: 10px;
    width: 40%;
    display: flex;
    margin: 0;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  p {
    font-family: "Muli", sans-serif;
    color: lightgrey;
    padding-left: 320px;
    font-size: 0.9em;
  }
  ul {
    padding: 0px;
    display: flex;
    flex-flow: column nowrap;
  }
  .list li {
    list-style: none;
    border: 5px solid black;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 0%;
    text-align: left;
    font-size: x-large;
    font-family: "Rosarivo", serif;
    width: 80%;
    height: 150px;
    margin: 10px auto;
    text-transform: none;
    box-sizing: border-box;
    background-color: black;
    display: flex;
    flex-flow: row wrap;
  }
  .portal {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
  }
  .portal div {
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    padding: 5px 10px;
    margin: 10px auto;
    height: 140px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
  }
  .portal h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #363636;
  }
  .portal button {
    width: 80%;
    height: 30%;
    border: solid 2px gray;
    align-self: center;
    margin-top: 20%;
  }
  .portal h4 {
    margin-top: 8%;
  }
  .journal {
    width: 40%;
  }
  .next {
    order: -1;
    max-width: 400px;
    min-width: 90%;
  }
  .suggestion {
    width: 40%;
  }
  .list {
    box-sizing: border-box;
    width: fit-content;
    margin: 20px auto;
  }
  .description {
    font-size: 0.6em;
    font-family: "Muli", sans-serif;
    padding-right: 10px;
    color: gray;
  }
  .see-more {
    justify-self: flex-end;
    align-self: flex-end;
    text-align: right;
    text-transform: capitalize;
    font-size: x-small;
    font-weight: bold;
    margin-top: 5px;
    height: 2em;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #f5cf8e; /* Yellow */
  }
}
