@font-face {
  font-family: "Ravenna";
  src: url(../fonts/Ravenna) format(ttf);
}
body {
  font-family: "Muli", sans-serif;
  color: whitesmoke;
  background-color: #363636;
  margin: 10px auto;
  display: flex;
  flex-flow: row wrap;
}
header {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
}
nav {
  display: flex;
  align-content: center;
}
h1 {
  font-family: 'Ravenna', serif;
  color: whitesmoke;
  text-align: center;
}
h3 {
  font-family: "Rosarivo";
  color: whitesmoke;
  font-style: unset;
  text-align: center;
}
p {
  font-family: "Muli", sans-serif;
  color: lightgrey;
  padding-left: 320px;
  font-size: .9em;
}
ul {
  padding: 0px;
  display: flex;
  flex-flow: column nowrap;
}
.list li {
  list-style: none;
  border: 5px solid black;
  padding-left: 260px;
  padding-top: 40px;
  text-align: left;
  font-size: x-large;
  font-family: "Rosarivo", serif;
  width: 600px;
  height: 150px;
  margin-bottom: 15px;
  text-transform: none;
  box-sizing: border-box;
  background-color: black;
}
.navbar {
flex-flow: row nowrap;
}
.navbar .button {
  border: 2px solid gray;
  margin: 10px auto;
  width: fit-content;
  text-align: center;
  font-family: fantasy;
  padding-top: 7px;
  padding-left: 5px;
  padding-right: 5px;
}
.portal {
  display: flex;
  flex-flow: row nowrap;
  margin: auto;
}
.portal div{
  border: 2px solid whitesmoke;
  background-color: whitesmoke;
  padding: 5px 10px;
  margin: 15px;
  height: 140px;
}
.portal h3 {
  color: #363636;
}
.journal {
  width: 140px;
}
.next {
  width: 250px;
}
.suggestion {
  width: 140px;
}
.decoration {
  background-size: contain;
  background-repeat: no-repeat;
}
.intro {
  background-image: url(https://photos1.blogger.com/blogger2/1445/1855/1600/gamepro1.jpg);
  height: 400px;
  overflow: auto;
}
.list {
  box-sizing: border-box;
  width: fit-content;
  margin: 20px auto;
}
.dmg {
  background-image: url(https://cdn.mos.cms.futurecdn.net/aD2NwcjVo9jpHszfwUs3XT.jpg);
}
.phb {
  background-image: url(https://www.nintenderos.com/wp-content/uploads/2017/01/the-legend-of-zelda-breath-of-the-wild.ddf_.jpg);
}
.mm {
  background-image: url(https://sm.ign.com/t/ign_ap/review/t/the-legend/the-legend-of-zelda-breath-of-the-wild-the-master-trials-dlc_564g.1200.jpg);
}
.cg {
  background-image: url(https://cdn3.whatculture.com/images/2018/04/595dfbd2167b9552-600x338.jpg);
}
.description {
  font-size: 0.6em;
  font-family: "Muli", sans-serif;
  padding-right: 10px;
  color: gray;
}
#see-more {
  text-align: right;
  text-transform: capitalize;
  font-size: x-small;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 250px;
  height: 2em;
}
